body {
    font-family: "centurygothic";
    height: auto;
    background-color: #f4f4f4;
    background-image: url(/Images/Background-image-foret.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 1200px;
    margin: 0;
}

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 7;
    box-sizing: border-box;
    background: #222;
}

.logo-MC {
  padding-top: 0.6em;
  padding-bottom: 0.4em;
  padding-left: 2em;
}

.title-big {
  position: absolute;
  left: 4.5em;
  top: -5px;
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "centurygothic";
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  line-height: 15px;
}

.title-big1{
  font-size: 0.6em;
  letter-spacing: 0.6px;
}

.title-big2{
  font-size: 1.5em;
  color: #50BEA8;
  letter-spacing: 3px;
}

.title-big a {
    text-decoration: none;
    color: #fff;
}

.header-nav {
    position: absolute;
    width: 50%;
    top: 0;
    right: 1.5em;
    margin: 18px 0;
    text-align: right;
    font-family: "centurygothic";
    text-decoration: none;
    color: #fff;
}

.header-nav a {
    text-decoration: none;
    margin: 0 40px;
    color: #fff;
    position: relative;
    font-size: 20px;
}

.header-nav a:hover {
    transition: all 0.3s ease;
    border: 1px solid #50BEA8;
    padding: 0.3em 0.5em;
    border-radius: 300px;
}

.territoire {
    color: #50BEA8;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 1.8em;
}

.hr-territoire{
  margin-left: 50px;
}

#VillesBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 125px;
}

/* CSS Bordeaux */
  *{
    box-sizing: border-box;
  }
  
  .centerBox{
    display: flex;
    align-items: flex-start;
    height: 300px;
  }
  
  .categoryWrapper{
    height: 231px;
    width: 410px;
    background: url("Images/photo-ville-de-bordeaux.webp") no-repeat center center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .categoryWrapper:after{
    position: absolute;
    border-radius: 30px;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
  background: rgba(34, 34, 34, 0.694);
  background: -moz-linear-gradient(-45deg, #a29ca9 0%, #95909b 99%); 
  background: -webkit-linear-gradient(-45deg, #222 0%,rgba(34, 34, 34, 0.713) 99%);
  background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0.9066001400560224) 49%, rgba(34,34,34,0.850577731092437) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50BEA8', endColorstr='#95909b',GradientType=1 ); 
    content: '';
    opacity: 0.7;
      -webkit-transition: opacity 0.9s ease 0s; 
      transition: all;
  }
  
  .categoryWrapper:hover:after{
    opacity: 0.4;
  }
  
  .categoryWrapper h1{
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    -webkit-transition: all 0.15s ease 0s; 
    transition: all;
    position: relative;
    z-index: 6;
  }
  
  .categoryWrapper:hover h1{
    transform: translateY(-10px);
  }
  
  .categoryWrapper button{
    position: absolute;
    transform: translatey(60px);
    -webkit-appearance: none;
    border: none;
    background: none;
    color: #2f3574;
    width: 250px;
    height:50px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    outline: none;
    z-index: 6;
  }
  
  .categoryWrapper button span{
    display: block;
    position: relative;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .categoryWrapper button > span:after{
    content:'';
    position: absolute;
    top:0;
    left: 50%;
    width: 20px;
    height: 0;
    border-top-right-radius: 30px;
    
    border: 1px solid white;
    border-left: none;
    border-bottom: 1px solid white;
    
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
  }
  
  .categoryWrapper:hover button > span:after{
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    border-bottom-right-radius: 30px;
  }
  
  .categoryWrapper button > span:before{
    content:'';
    position: absolute;
    top:0;
    right: 50%;
    width: 20px;
    height: 0;
    border-top-left-radius: 30px;
    
    border: 1px solid white;
    border-right: none;
    border-bottom: 1px solid white;
    
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
  }
  
  .categoryWrapper:hover button > span:before{
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    border-bottom-left-radius: 30px;
  }
  
  .categoryWrapper button > span > span:before{
    content:'';
    position: absolute;
    bottom:0;
    right: 0%;
    width: 1px;
    opacity: 0;
  }
  
  .categoryWrapper:hover button > span > span:before{
    opacity: 0;
    border-bottom: 0.1px solid white;
    width: calc(42.5%);
    margin-right: 19px;
    margin-bottom: 1.4px;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
  }
  
  .categoryWrapper button > span > span:after{
    content:'';
    position: absolute;
    bottom:0;
    left: 0%;
    width: 1px;
    opacity: 0;
    
  }
  
  .categoryWrapper:hover button > span > span:after{
    opacity: 0;
    border-bottom: 1px solid white;
    width: calc(42.5%);
    margin-left: 19px;
    margin-bottom: 1.4px;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
  }
  
  .categoryWrapper button > span > span > span{
    transition: color 0.15s ease-out 0.2s;
    color: transparent;
  }
  
  .categoryWrapper:hover button > span > span > span{
    color:white;
  }
  
  .categoryWrapper button > span > span > span:after{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    color:#50BEA8;
    content: attr(data-attr-span);
    width: 0%;
    height: 100%;
    background:rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: width 0.4s;
  }
  
  .categoryWrapper button:hover > span > span > span:after{
    width: 100%;
  }

/* CSS Cannes */

  .centerBox2{
   display: flex;
   height: 300px;
  }
  
  .categoryWrapper2{
    height: 231px;
    width: 410px;
    background: url("Images/Photo-de-la-ville-de-cannes.webp") no-repeat center center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .categoryWrapper2:after{
    position: absolute;
    border-radius: 30px;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
  background: rgba(34, 34, 34, 0.694);
  background: -moz-linear-gradient(-45deg, #a29ca9 0%, #95909b 99%); 
  background: -webkit-linear-gradient(-45deg, #222 0%,rgba(34, 34, 34, 0.713) 99%);
  background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0.9066001400560224) 49%, rgba(34,34,34,0.850577731092437) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50BEA8', endColorstr='#95909b',GradientType=1 ); 
    content: '';
    opacity: 0.7;
      -webkit-transition: opacity 0.9s ease 0s; 
      transition: all;
  }
  
  .categoryWrapper2:hover:after{
    opacity: 0.4;
  }
  
  .categoryWrapper2 h1{
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    -webkit-transition: all 0.15s ease 0s; 
    transition: all;
    position: relative;
    z-index: 6;
  }
  
  .categoryWrapper2:hover h1{
    transform: translateY(-10px);
  }
  
  .categoryWrapper2 button{
    position: absolute;
    transform: translatey(60px);
    -webkit-appearance: none;
    border: none;
    background: none;
    color: #2f3574;
    width: 250px;
    height:50px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    outline: none;
    z-index: 6;
  }
  
  .categoryWrapper2 button span{
    display: block;
    position: relative;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .categoryWrapper2 button > span:after{
    content:'';
    position: absolute;
    top:0;
    left: 50%;
    width: 20px;
    height: 0;
    border-top-right-radius: 30px;
    
    border: 1px solid white;
    border-left: none;
    border-bottom: 1px solid white;
    
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
  }
  
  .categoryWrapper2:hover button > span:after{
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    border-bottom-right-radius: 30px;
  }
  
  .categoryWrapper2 button > span:before{
    content:'';
    position: absolute;
    top:0;
    right: 50%;
    width: 20px;
    height: 0;
    border-top-left-radius: 30px;
    
    border: 1px solid white;
    border-right: none;
    border-bottom: 1px solid white;
    
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
  }
  
  .categoryWrapper2:hover button > span:before{
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    border-bottom-left-radius: 30px;
  }
  
  .categoryWrapper2 button > span > span:before{
    content:'';
    position: absolute;
    bottom:0;
    right: 0%;
    width: 1px;
    opacity: 0;
    
  }
  
  .categoryWrapper2:hover button > span > span:before{
    opacity: 0;
    border-bottom: 0.1px solid white;
    width: calc(42.5%);
    margin-right: 19px;
    margin-bottom: 1.4px;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
  }
  
  .categoryWrapper2 button > span > span:after{
    content:'';
    position: absolute;
    bottom:0;
    left: 0%;
    width: 1px;
    opacity: 0;
    
  }
  
  .categoryWrapper2:hover button > span > span:after{
    opacity: 0;
    border-bottom: 1px solid white;
    width: calc(42.5%);
    margin-left: 19px;
    margin-bottom: 1.4px;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
  }
  
  .categoryWrapper2 button > span > span > span{
    transition: color 0.15s ease-out 0.2s;
    color: transparent;
  }
  
  .categoryWrapper2:hover button > span > span > span{
    color:white;
  }
  
  .categoryWrapper2 button > span > span > span:after{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    color:#50BEA8;
    content: attr(data-attr-span);
    width: 0%;
    height: 100%;
    background:rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: width 0.4s;
  }
  
  .categoryWrapper2 button:hover > span > span > span:after{
    width: 100%;
  }

  /* CSS Pays Basque */
  .centerBox3{
    display: flex;
    height: 300px;
   }
   
   .categoryWrapper3{
     height: 231px;
     width: 410px;
     background: url("Images/Photo-du-pays-basque.webp") no-repeat center center;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
   }
 
   .categoryWrapper3:after{
     position: absolute;
     border-radius: 30px;
     top:0;
     left: 0;
     right:0;
     bottom: 0;
   background: -webkit-linear-gradient(90deg, #222 0%, rgba(34,34,34,0.9066001400560224) 49%);
   background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0.9066001400560224) 49%, rgba(34,34,34,0.850577731092437) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50BEA8', endColorstr='#95909b',GradientType=1 ); 
     content: '';
     opacity: 0.7;
       -webkit-transition: opacity 0.9s ease 0s; 
       transition: all;
   }
   
   .categoryWrapper3:hover:after{
     opacity: 0.4;
   }
   
   .categoryWrapper3 h1{
     color: #fff;
     font-size: 50px;
     letter-spacing: 2px;
     -webkit-transition: all 0.15s ease 0s; 
     transition: all;
     position: relative;
     z-index: 6;
   }
   
   .categoryWrapper3:hover h1{
     transform: translateY(-10px);
   }
   
   .categoryWrapper3 button{
     position: absolute;
     transform: translatey(60px);
     -webkit-appearance: none;
     border: none;
     background: none;
     color: #2f3574;
     width: 250px;
     height:50px;
     font-size: 20px;
     padding: 0;
     margin: 0;
     outline: none;
     z-index: 6;
   }
   
   .categoryWrapper3 button span{
     display: block;
     position: relative;
     line-height: 50px;
     height: 50px;
     cursor: pointer;
   }
   
   .categoryWrapper3 button > span:after{
     content:'';
     position: absolute;
     top:0;
     left: 50%;
     width: 20px;
     height: 0;
     border-top-right-radius: 30px;
     
     border: 1px solid white;
     border-left: none;
     border-bottom: 1px solid white;
     
         transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
   }
   
   .categoryWrapper3:hover button > span:after{
     width: calc(50% - 1px);
     height: calc(100% - 2px);
     transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
     border-bottom-right-radius: 30px;
   }
   
   .categoryWrapper3 button > span:before{
     content:'';
     position: absolute;
     top:0;
     right: 50%;
     width: 20px;
     height: 0;
     border-top-left-radius: 30px;
     
     border: 1px solid white;
     border-right: none;
     border-bottom: 1px solid white;
     
         transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
   }
   
   .categoryWrapper3:hover button > span:before{
     width: calc(50% - 1px);
     height: calc(100% - 2px);
     transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
     border-bottom-left-radius: 30px;
   }
   
   .categoryWrapper3 button > span > span:before{
     content:'';
     position: absolute;
     bottom:0;
     right: 0%;
     width: 1px;
     opacity: 0;
     
   }
   
   .categoryWrapper3:hover button > span > span:before{
     opacity: 0;
     border-bottom: 0.1px solid white;
     width: calc(42.5%);
     margin-right: 19px;
     margin-bottom: 1.4px;
     transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
   }
   
   .categoryWrapper3 button > span > span:after{
     content:'';
     position: absolute;
     bottom:0;
     left: 0%;
     width: 1px;
     opacity: 0;
     
   }
   
   .categoryWrapper3:hover button > span > span:after{
     opacity: 0;
     border-bottom: 1px solid white;
     width: calc(42.5%);
     margin-left: 19px;
     margin-bottom: 1.4px;
     transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
   }
   
   .categoryWrapper3 button > span > span > span{
     transition: color 0.15s ease-out 0.2s;
     color: transparent;
   }
   
   .categoryWrapper3:hover button > span > span > span{
     color:white;
   }
   
   .categoryWrapper3 button > span > span > span:after{
     position: absolute;
     top:0;left:0;right:0;bottom:0;
     color:#50BEA8;
     content: attr(data-attr-span);
     width: 0%;
     height: 100%;
     background:rgb(255, 255, 255);
     white-space: nowrap;
     text-align: center;
     border-radius: 30px;
     margin: auto;
     overflow: hidden;
     display: flex;
     justify-content: center;
     transition: width 0.4s;
   }
   
   .categoryWrapper3 button:hover > span > span > span:after{
     width: 100%;
   }


footer {
  background-color: #222222;
  box-shadow: 0px 0px 10px 2px rgba(138, 138, 138, 0.745);
  margin-top: 250px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-start;
}

h6{
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  line-height: 40px;
}

h6:after{
  content: "";
  position: absolute;
  width: 40%;
  height: 0px;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #50BEA8;
  border-radius: 50px;
}

.footer-info {
  width: 300px;
  padding-left: 48px;
}

.footer-info p{
  padding: 0 0;
  font-size: 1em;
  margin-block-start: 1em;
  color: #FFF;
}

H6 .footer-info a{
  text-decoration: none;
  color: #fff;
  font-family: "centurygothic";
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-mc{
  text-decoration: none;
  color: #fff;
  font-family: "centurygothic";
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 0.33em;
}

.contact-footer {
  text-decoration: none;
  color: rgb(144, 144, 144);
  transition: all 0.3s ease;
}

.contact-footer:hover{
  text-decoration: none;
  color: #FFF;
  padding-left: 0.5em;
  text-decoration: underline #50BEA8 20%;
  text-underline-offset: 0.3rem;
  text-underline-position: right;
}

.footer-img{
  padding-left: 1em;
}

.footer-mc {
  font-size: 1.8em;
}

.footer-info img{
  width: 20%;
}

.footer-map{
  font-family: "centurygothic";
  color: #FFF;
  margin: 0;
  margin-top: 2em;
  width: 300px;
}

.footer-map p{
  font-size: 1em;
  padding: 0;
  padding-top: 0.13em;
}

.footer-map h6{
  display: flex;
  align-items: flex-start;
  margin-block-end: 2em;
  margin-block-start: 0;
  font-size: 1.2em;
}

.footer-map ul{
  list-style-type: none;
  padding-left: 0;
}

.footer-pages{
  color: #fff;
  font-family: "centurygothic";
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 250px;
}

.footer-pages a{
  text-decoration: none;
  color: rgb(144, 144, 144);
  transition: all 0.3s ease;
}

.footer-pages a:hover{
  text-decoration: none;
  color: #FFF;
  padding-left: 0.5em;
  text-decoration: underline #50BEA8 20%;
  text-underline-offset: 0.3rem;
  text-underline-position: right;
}

.footer-pages ul{
  list-style-type: none;
  padding-left: 0;
}

.nos-pages{
  font-size: 1.2em;
  margin-block-start: 0em;
  margin-block-end: 1em;
}

.footer-pages li{
  margin-bottom: 16px;
  padding-top: 0.28em;
}

.footer-col{
  width: 250px;
  padding: 0 0;
  margin-top: -0.7em;
}
.footer-col h6{
   font-size: 1.2em;
   color: #ffffff;
   font-family: "centurygothic";
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
}

.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
}
.footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin:0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #ffffff;
   transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
   color: #50BEA8;
   background-color: #ffffff;
}

.copyright{
  background: #393939;
  color: #FFF;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "centurygothic";
  font-size: 0.8em;
}

@media(max-width:830px){
  footer{
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media(max-width:400px){
  footer{
    padding-left: 2em;
    padding-right: 0em;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}